@import "./mixins";

.contact {
  @include twoColumns(20rem, 0);
  // grid-template-columns: repeat(2, 1fr);
  // column-gap: 20rem;
  align-items: center;

  &__description {
    font-size: var(--font-size-20);
    line-height: 1.9;
  }

  &__email {
    font-weight: var(--font-weight-bold);
    margin: 2.5rem 0;
  }

  &__social {
    transition: var(--transition-timing);
  }

  &__social:hover {
    transform: scale(1.2);
  }

  &__inputs {
    display: flex;
    gap: 3rem;
  }

  &__input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0.1rem solid var(--color-input-border);
    flex: 1;
  }

  &__textarea {
    width: 100%;
    margin-top: 4rem;
  }

  &__button {
    background-color: var(--color-link-bg);
    color: var(--color-white);
    padding: 1.7rem 1.8rem;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-24);
    margin-top: 3.4rem;
  }

  form:invalid::after {
    content: "*";
    font-size: var(--font-size-38);
    color: var(--color-red);
  }
}
